fastapi>=0.141.1
uvicorn[standard]>=0.52.3
websockets>=17.0.1
python-dotenv>=1.2.2
requests>=2.34.2
httpx>=0.28.1
termcolor>=3.3.0
nodeenv>=1.10.0
alembic>=1.19.1
SQLAlchemy>=2.0.51
cryptography>=50.0.0
argon2-cffi>=25.1.0
mutagen>=1.48.1
watchdog>=6.0.0
guessit>=4.4.0
pycountry>=26.2.16
langcodes[data]>=3.5.0
resvg_py==0.3.4
